#grid {
    display: grid;
    width: 83vmin;
    height: 83vmin;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.cell {
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    background-color: green;
}

.end {
    background-color: red;
}

.wall {
    background-color: black;
}

.path {
    background-color: blue;
}

#controls {
    margin: 10px 0;
}